.Credits {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.Credits h1 {
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color: rebeccapurple;
}

.Credits .Credits-Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    font-size: 1.8vw;
}

.Credits .Credits-Item p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7vw;
    width: 15vw;
}

.Credits .Credits-Item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rebeccapurple;
    transition: all .3s;
}

.Credits .Credits-Item a:hover {
    color: black;
}