.Credits .Credits-Wrapper .Credits-Item {
    border: 1px solid rgba(102, 51, 153, 0.373);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#66339906, #66339903);
    transition: all 1s;
}

.Credits .Credits-Wrapper .Credits-Item:hover {
    border: 1px solid #663399;
    background-image: linear-gradient(#66339906, #66339909);
    box-shadow: #66339933 5px 10px 15px;
}

.Credits .Credits-Wrapper .Credits-Item.Big {
    border-radius: 2vw;

}

.Credits .Credits-Wrapper .Credits-Item span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    color: #333;
    display: inline;
    flex-direction: row;
    padding-top: 1.5vw;
    align-items: center;
    transition: .5s;
}

.Credits .Credits-Wrapper .Credits-Item.Big span {
    font-size: 2.6vw;
    padding-top: 2.5vw;
}

.Credits .Credits-Wrapper .Credits-Item:hover span {
    padding-top: 0;
    color: black;
}

.Credits .Credits-Wrapper .Credits-Item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rebeccapurple;
    font-size: 1.5vw;
    height: 1.7vw;
    transition: all .4s;
}

.Credits .Credits-Wrapper .Credits-Item.Big a {
    font-size: 2.5vw;
    height: 3vw;
}

.Credits .Credits-Wrapper .Credits-Item a:hover {
    color: black;
}

.Credits .Credits-Wrapper .Credits-Item .Credits-Item-Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    width: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.Credits .Credits-Wrapper .Credits-Item:hover .Credits-Item-Links {
    width: 100%;
}