.FooterTools {
    display: flex;
    flex-direction: column;
}

.FooterTools h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    color: rebeccapurple;
}

.FooterTools p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    color: #333;
}

.FooterTools p:hover {
    color: rebeccapurple;
}