.FooterCopy {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vw;
}

.FooterCopy p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    color: #444;
}


.FooterCopy .CopyLeft {
    display: inline-block;
    transform: rotate(180deg) !important;
}

.FooterCopy .CopyLeft::after {
    content: "\00a9";
}