.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}

.Nav-Left,
.Nav-Right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Nav-Right {
    margin-right: 3vw;
    gap: 2.5vw;
}

.Nav-Right .Log-In,
.Nav-Right .Logged-In,
.Nav-Right .Website p {
    display: inline;
    font-family: "Poppins", serif;
    font-size: 1.5vw;
}

.Nav-Right .Website {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Nav-Right .Website #ChevronDown {
    transition: all .5s;
}

.Nav-Right .Website .WebsiteListContainer {
    position: relative;
}

.Nav-Right .Website .WebsiteList {
    position: absolute;
    width: 20vw;
    top: 1.3vw;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    display: flex;
    flex-direction: column;
}

.Nav-Right .Website:hover #ChevronDown {
    transform: rotate(180deg);
}

.Nav-Right .Website:hover .WebsiteList {
    height: 20vw;
}

.Nav-Right .Website .WebsiteList a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    margin-top: .5vw;
    transition: color 0.3s;
}

.Nav-Right .Website .WebsiteList a:hover {
    color: rebeccapurple;
}

.Nav-Right .Logged-In {
    color: rebeccapurple;
}

.Nav-Left-Title {
    margin-left: 3vw;
    font-size: 2vw;
    line-height: 1.5vw;
    font-family: 'JetBrains Mono SemiBold', serif;
    color: rebeccapurple;
}

.Nav-Icon {
    width: 2vw;
    height: 2vw;
    transition: all 2s cubic-bezier(0.5, 0.01, 0.9, .1);
}

.Nav-Icon:hover {
    transform: rotate(-1440deg);
}