.SearchPage {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.SearchPage p {
    font-size: 1vw;
}

.SearchPage .SearchTop {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.SearchPage .SearchTop h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: black;
}

.SearchPage .SearchTop h1>span {
    color: rebeccapurple;
    font-weight: 700;
}

.SearchPage .SearchTop .SearchComment {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1vw;
    margin-left: 4vw;
}

.SearchPage .SearchTop .SearchComment p {
    color: #666;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

.SearchPage .SearchResult {
    display: flex;
    flex-direction: row;
}

.SearchPage .SearchResult .ResultMCT,
.SearchPage .SearchResult .ResultCppRef,
.SearchPage .SearchResult .ResultGoogle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 34vw;
}

.SearchPage .SearchResult .ResultMCT .ResultBlock,
.SearchPage .SearchResult .ResultCppRef .ResultBlock,
.SearchPage .SearchResult .ResultGoogle .ResultBlock {
    border-radius: 2vw;
    padding: 2vw;
    margin-bottom: 1.5vw;
    width: 25vw;
}

.SearchPage .SearchResult .ResultMCT .ResultBlock {
    border: 2px solid #d3ff9d;
    background: #f5ffe6;
}

.SearchPage .SearchResult .ResultCppRef .ResultBlock {
    border: 2px solid #9df8ff;
    background: #e3fffe;
}

.SearchPage .SearchResult .ResultGoogle .ResultBlock {
    border: 2px solid #ebbbff;
    background: #fae8ff;
}

.SearchPage .SearchResult .ResultBlock h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.SearchPage .SearchResult .ResultCppRef .ResultBlock h1 {
    color: rgb(0, 110, 161);
}