.Discussion {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.Discussion h1 {
    margin-top: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: 300;
    color: rebeccapurple;
}