.Chapter {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    position: sticky;
    top: 0;
}

.Chapter .Chapter-Top {
    display: flex;
    flex-direction: column;
}

.Chapter .Chapter-Main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2vw;
    overflow: scroll;
    position: sticky;
    top: 0;
}

.Chapter .Chapter-Main .Chapter-Left {
    position: sticky;
    top: 0;
    width: 20vw;
}

.Chapter .Chapter-Main .Chapter-Right {
    display: flex;
    flex-direction: column;
}

.Chapter .Chapter-Right .Current-Position, .Chapter .Chapter-Right .Latest-Update {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.Chapter h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: rebeccapurple;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1vw;
    margin-bottom: 1vw;
}

.Chapter h1 > span {
    font-size: 1.5vw;
    color: #444;
    display: flex;
    align-items: center;
    gap: .5vw;
}

.Chapter p {
    font-size: 1.2vw;
    margin: .5vw 0;
}

.Chapter .Chapter-Left > p {
    color: rebeccapurple;
}

.Chapter .Chapter-Left > p:hover {
    color: blueviolet;
}

.Chapter h2 {
    font-size: 1.6vw;
    color: rebeccapurple;
    margin-top: 1vw;
}

.Chapter h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3vw;
    font-size: 1vw;
    color: #555555;
    font-weight: 300;
}

.Chapter .Chapter-Bottom {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Left {
    flex-direction: row;
    justify-content: left;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Right {
    flex-direction: row;
    justify-content: right;
}