.Chapter {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    top: 0;
}

.Chapter .Chapter-Top {
    display: flex;
    flex-direction: column;
}

.Chapter .Chapter-Main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2vw;
    top: 0;
}

.Chapter .Chapter-Main .Chapter-Left {
    position: fixed;
    top: 12vw;
    width: 20vw;
}

.Chapter .Chapter-Main .Chapter-Right {
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
    border-left: 1px solid #999;
    padding-left: 2vw;
    width: 76vw;
}

.Chapter .Chapter-Right .Current-Position, .Chapter .Chapter-Right .Latest-Update {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.Chapter h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: rebeccapurple;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1vw;
    margin-bottom: 1vw;
}

.Chapter h1 > span {
    font-size: 1.5vw;
    color: #444;
    display: flex;
    align-items: center;
    gap: .5vw;
}

.Chapter p {
    font-size: 1.2vw;
    margin: .5vw 0;
}

.Chapter .Chapter-Left > p {
    color: rebeccapurple;
}

.Chapter .Chapter-Left > p:hover {
    color: #a950ff;
}

.Chapter h2 {
    font-size: 1.6vw;
    color: rebeccapurple;
    margin-top: 1vw;
}

.Chapter h6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3vw;
    font-size: 1vw;
    color: #555555;
    font-weight: 300;
}

.Chapter .Chapter-Bottom {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Left {
    flex-direction: row;
    justify-content: left;
}

.Chapter .Chapter-Bottom .Chapter-Bottom-Right {
    flex-direction: row;
    justify-content: right;
}

.Chapter .Chapter-Bottom a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vw 2vw;
    border-radius: 1.75vw;
    background: white;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    height: 1.5vw;
    font-size: 1.6vw;
    font-family: "Poppins", serif;
    font-weight: 400;
    gap: 0.5vw;
    transition: all 0.3s;
}

.Chapter .Chapter-Bottom a:hover {
    background: rebeccapurple;
    color: white;
}

.Chapter .Code {
    margin: .5vw 0;
    background: #f7f7f7;
    font-size: 1vw;
    font-family: 'JetBrains Mono', monospace;
}

.Chapter .Code .Code-Line {
    display: flex;
    flex-direction: row;
}

.Chapter .Code .Code-Line-Number-Wrapper{
    display: flex;
    justify-content: right;
    width: 2vw;
    margin-right: 1vw;
}

.Chapter .Code .Code-Line-Number-Wrapper .Code-Line-Number {
    font-weight: 200;
    color: rebeccapurple;
}
