.Tutorial {
    margin: 1vw 3vw;
    display: flex;
    flex-direction: column;
}

.Tutorial .Tutorial-Title {
    margin-top: 3vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Tutorial .Tutorial-Title h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5vw;
    font-weight: 300;
    margin-bottom: 1vw;
    color: #555;
}

.Tutorial .Tutorial-Title h1>span {
    font-size: 4vw;
    margin-right: 2vw;
    color: rebeccapurple;
}

.Tutorial .Tutorial-Title h1>span>span {
    font-weight: 600;
}

.Tutorial-Main {
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
}

.Tutorial-Main .Tutorial-Main-Content {
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin-top: 2vw;
    margin-left: 2vw;
}

.Tutorial-Main .Tutorial-Main-Content a {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    padding: .5vw;
    padding-left: 1.5vw;
    margin-right: 5vw;
    border-radius: 1.5vw;
    transition: all .3s;
    color: #663399;
}

.Tutorial-Main .Tutorial-Main-Content a:hover {
    background-color: #66339922;
    transition: all 0;
    color: #663399;
}

.Tutorial-Main .Tutorial-Main-Article {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.Tutorial-Main .Tutorial-Main-Article h1 {
    color: rebeccapurple;
    margin-bottom: 0.4vw;
    margin-top: 0.8vw;
}


.Tutorial-Main .Tutorial-Main-Article p {
    color: #000;
    font-size: 1.2vw;
}

.Tutorial-Main .Tutorial-Main-Article p.Tutorial-Main-Article-Inline-Para {
    display: inline;
}

.Tutorial-Main .Tutorial-Main-Article p>span {
    font-family: 'JetBrains Mono', monospace !important;
    background-color: #eee;
    color: #444;
    padding-left: .3vw;
    padding-right: .3vw;
    border-radius: .4vw;
}

.Tutorial-Main .Tutorial-Main-Article p>a {
    transition: all 0.3s;
    color: #663399;
}

.Tutorial-Main .Tutorial-Main-Article p>a:hover {
    color: #aa55ff;
}